<!doctype html>
<html lang="pl">
  <head>
    <title>Fat Angel Multiplayer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fat Angel Multiplayer">
    <meta name="author" content="Robert Ignasiak">
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src='application.js'></script>
    <script src='js/canvasquery.js'></script>
    <script src='js/canvasquery.framework.js'></script>
    <script src='js/alertify.js'></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/alertify.core.css">
    <link rel="stylesheet" type="text/css" href="css/alertify.default.css">
  </head>
  <body>
  </body>
</html>