<html>
  <head>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
    <script src='application.js'></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id="canvasWrapper">
      <canvas id="game" width="960" height="600">
      Nie jest Ci wstyd używać takiej starej przeglądarki ;)
      </canvas>
    </div>
  </body>
</html>